extends ../layout
block content
  .page-header
    h3 Add stem to track
    form.dropzone(id='create-stem-dropzone', method='POST', action='#')
        div.dropzone-previews
        input(placeholder='Stem Name',name='stemName')
        button.btn.btn-success(type='submit') Add
